@model ZhifuWeb.Models.PayResultViewModel
@{
    string src;
    if (Model.Status)
    {
        src = "/book/images/ok.png";
    }
    else
    {
        src = "/book/images/notok.png";
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no;" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>门票预定|手机官网</title>
    <script src="/Js/jquery-1.9.1.min.js"></script>
    <link href="/Style/layout.css" rel="stylesheet" />
</head>
<body>
    <section id="web_wrap">
        <!--//页面头部-->
        @Html.Raw(File.ReadAllText(Server.MapPath("/include/head02.htm")))
        <!--End页面头部-->

        <div class="book_con">
            <div class="book_nav">
                <a href="javascript:;" class="book_nav01 active">①填写信息</a>
                <a href="javascript:;" class="book_nav02 active">②确认信息</a>
                <a href="javascript:;" class="book_nav03 active">③网上支付</a>
                <a href="javascript:;" class="book_nav04 active">④购票完成</a>

                <div class="clear"></div>
            </div>

            <div class="book_box">
                <div class="cloud_top"></div>

                <!-- book_box_text -->
                <div class="book_box_text" style="border: none;">
                    <div class="book_box_text_left">
                        <img src="@src" alt="" style="width: 70%; margin-top: 5px;">
                    </div>
                    <div class="book_box_text_right">
                        <div class="pal_ok">
                            @if (Model.Status)
                            {
                                <p><em>恭喜，订购成功！</em></p>
                                <p>您可以立即<a href="@Url.Action("Query","Booking")">订单查询</a></p>
                            }
                            else
                            {
                                <p><em>对不起，订购失败！</em></p>
                                <p><a href="@Url.Action("ChooseTicket", "Booking")">请重新购买</a></p>
                            }
                        </div>
                    </div>

                    <div class="clear"></div>
                </div>

                <div class="cloud_bottom"></div>
            </div>

            <div class="book_box">
                <div class="cloud_top"></div>

                <div class="book_box_text" style="border: none;">
                    <p><i>▲</i>取票地点：您只需拿您的手机二维码或身份证，直接至检票口刷码入园。</p>
                </div>

                <div class="cloud_bottom"></div>
            </div>

            <a href="@Url.Action("chooseTicket","Booking")" class="come_back">返回继续浏览</a>
        </div>

        <!-- 底部导航 -->
        @Html.Raw(File.ReadAllText(Server.MapPath("/include/footer.htm")))
        <!-- 底部导航end -->
    </section>
</body>
</html>
@Html.Raw(File.ReadAllText(Server.MapPath("/include/Add.htm")))